ion-content.pokedex-background {
  --background: url('/assets/pokemonimg.jpg') center center / cover no-repeat;
  height: 100%;
}

ion-row {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

ion-card {
  width: 70%;
  height: 70%; /* Establece la altura automática para adaptarse al contenido */
  border-radius: 10px;
  background: #f8f8f8;
}


.center-image {
  max-width: 100%;
  max-height: 100%;
}

ion-icon {
  font-size: 20px;
}

ion-searchbar {
  --color: white; /* Cambia el color del texto a negro */
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  margin-top: 5px;
}

.search-icon {
  margin-top: 10px; /* Ajusta el margen según sea necesario */
  color: #000; 
}

.label-busqueda {
  color: black; /* Color negro para la etiqueta */
  font-size: 16px; /* Ajusta el tamaño del texto según sea necesario */
  margin-bottom: 10px; /* Ajusta el margen inferior según sea necesario */
  align-items: center;
}

.search-input-container {
  background-color: transparent;
  border: none;
}

.transparent-input {
  --ion-item-background: transparent;
  --highlight-height: 0;
  --padding-start: 0;
  --padding-end: 0;
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  --inner-padding-bottom: 0;
  --inner-padding-top: 0;
  color: black !important; /* Cambia el color del texto a negro */
  text-align: center; /* Centra el texto horizontalmente */
}

.input-container {
  display: flex;
  align-items: center; /* Centra los elementos verticalmente */
}

.input-line {
  border-bottom: 1px solid black; /* Añade una línea horizontal */
  margin-top: 5px; /* Ajusta el margen superior según sea necesario */
}

.search-icon {
  font-size: 24px;
  color: rgb(0, 0, 0);
  cursor: pointer;
 /* Centra el ícono de la lupa horizontalmente */
}




